body{
  padding: 5px 5px 5px;
}

.prodCont {
  display: flex;
  flex-wrap: wrap;
}
.prodCont > .link {
  text-align: center;
  width: 300px;
  box-shadow:0 0 10px #463646;
  margin: 10px;
}

.prodCont > .link:hover {
  background-color: lightgrey;
}
.NavLinks{
  font-weight: bolder;
  font-family: "Calibri";
  font-size: large;
  color: white;
  margin: 5px;
  text-decoration: none;
  
}